body{
text-align: center;
align-items: center;
align-content: center;
align-self: center;
background: url(../img/03.jpg);
}

#backcalc{
    width: 370px;
    height: 550px;
    flex-direction: column;
    display: inline-block;
    background: url(../img/t08.png);
    margin-top: 16px;
    border-radius: 10px;
    box-shadow:0px 0px 30px red;


}

#calculator{
    width: 370px;
    height: 550px;
    flex-direction: column;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 10px;
}

#opLine{
    display: block;
    width: 326px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.836);
    font-size: 20px;
    text-align: right;
    letter-spacing: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 60px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow:0px 0px 30px red;


}

#resLine{
    display: block;
    width: 326px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.836);
    font-size: 30px;
    text-align: right;
    letter-spacing: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 5px;
    line-height: 55px;
    border: 3px solid rgb(255, 255, 255);

}

#button1,
#button2,
#button3,
#button4,
#button5,
#button6,
#button7,
#button8,
#button9,
#button0,
#buttonDot
{
    background-color: rgba(128, 0, 128, 0.904);
    border-radius: 5px;
    width: 80px;
    height: 80px;
    color: white;
}

#buttonClear,
#buttonPN,
#buttonPer,
#buttonP,
#buttonR,
#buttonD,
#buttonM,
#buttonBack,
#buttonEq{
    background-color: rgba(0, 0, 0, 0.945);
    border-radius: 5px;
    width: 80px;
    height: 80px;
    color: white;
}

#numbers{
    display: inline-block;
    width: 340px;
    height: 600px;
    margin-top: 5px;
}

#keys{
    width: 400px;
    height: 300px;
    background-image:  url(../img/t03.jpg);
    background-size: cover;
    margin-bottom: 0px;
    display: block;
    border-radius: 20px;
    box-shadow:0px 0px 30px red;

margin: auto;
}

h2{
    color: white;
    margin: 0px auto;
    color: rgba(255, 0, 0, 0.438);
}

ul{
    color: white;
    list-style: none;
    text-align: justify;
    display: inline-block;
    margin-top: 0px;
}

#hide{
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    margin: auto;
    padding: 6px;
    color:rgba(218, 0, 0, 0.726);
    border-radius: 20px;
    border: 0px;
    box-shadow:0px 0px 30px red;
}

#main{
    width: 400px;
    height: 100px;
    background-image:  url(../img/t03.jpg); /* rgba(0, 0, 0, 0.603);*/
    background-size: cover;
    margin: auto;
    margin-bottom: 0px;
    display: block;
    border-radius: 20px;
    box-shadow:0px 0px 30px red;
    color: rgb(0, 161, 67);
    text-align: center;
    padding-top: 15px;
}
#show{
    background-color: rgba(0, 0, 0, 0.432);
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 6px;
    color:rgba(218, 0, 0, 0.726);
    border-radius: 20px;
    border: 0px;
    box-shadow:0px 0px 30px red;
}

#buttonClear:hover,
#buttonPer:hover,
#buttonM:hover,
#buttonBack:hover,
#button7:hover,
#button8:hover,
#button9:hover,
#buttonP:hover,
#button4:hover,
#button5:hover,
#button6:hover,
#buttonR:hover,
#button1:hover,
#button2:hover,
#button3:hover,
#buttonD:hover,
#button0:hover,
#buttonDot:hover,
#buttonPN:hover,
#buttonEq:hover{
background-color: rgba(0, 17, 255, 0);
box-shadow:0px 0px 50px rgb(0, 250, 84);
font-size: 30px;
border:0px;
}
